
<div class="row">
    <div class="col-12 d-flex justify-content-center" >
        <h1>Welcome To Blog Site</h1>
    </div>

</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h4>How It Works</h4>
    </div>
</div>
<br />
    <div class="row">
        <div class="col-4">
            <div class="card text-center">
  <div class="card-header">
    First Step
  </div>
  <div class="card-body">
    <h5 class="card-title">Register</h5>
    <p class="card-text">Make sure you enter all the information completely.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
            @*  <div class="card-footer text-muted">

  </div>*@
</div>
        </div>

        <div class="col-4">
             <div class="card text-center">
  <div class="card-header">
    Second Step
  </div>
  <div class="card-body">
    <h5 class="card-title">Just Enjoy</h5>
    <p class="card-text">You can access the content by filtering and searching.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
            @*  <div class="card-footer text-muted">

  </div>*@
</div>
        </div>

        <div class="col-4">
             <div class="card text-center">
  <div class="card-header">
    Third Step
  </div>
  <div class="card-body">
    <h5 class="card-title">Recommend Us</h5>
    <p class="card-text">Please follow us and share on social media.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
            @*  <div class="card-footer text-muted">

  </div>*@
</div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <a  class="btn btn-success" asp-controller="Account" asp-action="Register">Let's Start</a>
        </div>
    </div>
